@import "../../../../assets/styles/mixins";

.shoes {
  padding: 40px 0;

  .container {

    h1 {
      @include text-title;
    }

    .shoes-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      column-gap: 20px;
    }
  }
}
