<div class="detail" *ngIf="catalog">
  <div class="container" >
    <div class="main-head">
      <span routerLink="/">Главная</span> / <span routerLink="/{{catalog.link}}">{{catalog.category}}</span>
    </div>
    <div class="detail-content">
      <div class="detail-content-image">
        <img src="/assets/images/products/{{catalog.image}}" alt="{{catalog.title}}">
      </div>
      <div class="detail-content-text">
        <div class="detail-content-text-title">
          {{catalog.titleHeader}}
        </div>
        <div class="detail-content-text-price">
          <span>Цена: </span> {{catalog.price}}
        </div>
        <div class="detail-content-text-description" *ngIf="catalog.description">
          <span>Описание</span>
          <div class="content-text-description" [innerHTML]="catalog.description"></div>
        </div>
        <div class="detail-content-text-material" *ngIf="catalog.material">
          <span>Основной материал</span>
          <div class="content-text-material">{{catalog.material}}</div>
        </div>
        <div class="catalog-info">
          <span>УВАЖАЕМЫЕ ПОКУПАТЕЛИ!</span> Работы по корректировке цен ведутся непрерывно, в связи с чем убедительно просим Вас, уточнять цены на продукцию.
        </div>
      </div>
    </div>
  </div>
</div>
