<div class="contact">
  <div class="container">
    <div class="contact-head">
      <span routerLink="/">Главная</span> / Контакты
    </div>
    <div class="contact-title">
      Контакты
    </div>
    <div class="contact-item">
      <div class="contact-item-title">
        Телефон
      </div>
      <div class="contact-item-description">
        <a>+7 (800) 201 52 47</a>
        <a>+7 (930) 714 47 49</a>
        <a>+7 (908) 732 67 69</a>
      </div>
    </div>
    <div class="contact-item">
      <div class="contact-item-title">
        Прием звонков
      </div>
      <div class="contact-item-description">
        с 9:00 до 17:00 (Пн-Пт)
      </div>
    </div>
    <div class="contact-item">
      <div class="contact-item-title">
        E-mail
      </div>
      <div class="contact-item-description">
        talismanmaria@yandex.ru
      </div>
    </div>
    <div class="contact-item">
      <div class="contact-item-title">
        Адрес
      </div>
      <div class="contact-item-description">
        603069, Нижегородская обл., г. Нижний Новгород, ул. Бориса Видяева, д.24
      </div>
    </div>
    <div class="contact-item">
      <div class="contact-item-title">
        Реквизиты компании
      </div>
      <div class="contact-item-description">
        <table>
          <tr>
            <td>Полное наименование организации</td>
            <td>Общество с ограниченной ответственностью «Талисман»</td>
          </tr>
          <tr>
            <td>Наименование в платежных поручениях</td>
            <td>ООО «Талисман»</td>
          </tr>
          <tr>
            <td>ИНН</td>
            <td>5256198824</td>
          </tr>
          <tr>
            <td>КПП</td>
            <td>525601001</td>
          </tr>
          <tr>
            <td>ОГРН</td>
            <td>1215200036677</td>
          </tr>
          <tr>
            <td>ОКАТО</td>
            <td>22401362000</td>
          </tr>
          <tr>
            <td>ОКПО</td>
            <td>72600195</td>
          </tr>
          <tr>
            <td>Основной вид деятельности по ОКВЭД</td>
            <td>51.42</td>
          </tr>
          <tr>
            <td>Руководитель: Генеральный директор</td>
            <td>Котова Мария Алексеевна</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="contact-item">
      <div class="contact-item-title">
        Банковские реквизиты
      </div>
      <div class="contact-item-description">
        <table>
          <tr>
            <td>Расчетный счет</td>
            <td>40702810930240001142</td>
          </tr>
          <tr>
            <td>Наименование банка</td>
            <td>Филиал «Центральный» Банка ВТБ (ПАО) в г. Москве</td>
          </tr>
          <tr>
            <td>Корреспондентский счет</td>
            <td>30101810145250000411</td>
          </tr>
          <tr>
            <td>БИК</td>
            <td>044525411</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
