@font-face {
  src: url("../fonts/Roboto.ttf");
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Robotobold.ttf");
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("../fonts/OpenSans-Regular.woff");
  font-family: "OpenSans";
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../fonts/OpenSans-Medium.woff");
  font-family: "OpenSans";
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url("../fonts/OpenSans-ExtraBold.woff");
  font-family: "OpenSans";
  font-weight: 800;
  font-display: swap;
}
